.block-wrapper {
	padding: 29px 35px;
}

.block-navigation {

	&__chevron {
		text-align: center;
		padding-bottom: 46px;

		img{
			padding: 14px 8px;
			background-color: $color-2;
		}
	}

	&__tabs {
		display: block;
		height: auto;
		padding: 19px 35px;
		border: 2px solid $color-3;	
		background-color: $color-2; 
	}

	&__list {
		padding: 0;
		margin: 55px 0;

		&--attachment{
			padding: 0;
		}
	}

	&__item{
		list-style-type: none;
		display: inline-block;

		&--attachment {
			list-style-type: none;
			margin: 27px 128px;
		}
    	
		a {
    		display: inline-block;
    		text-decoration: none;
    		text-align: center;
		}

		h4 {
			text-transform: uppercase;
			color: $text-main;
			font-weight: 400;
		}
	}
}

.block-title {
		text-transform: uppercase;
		font-size: 18px;

	&--center {
		text-align: center;
		margin: 53px 0;
		font-weight: 500;
	}

	&--headline {
		font-weight: 700;
		font-size: 32px;
	}

	&--left {
		text-align: left;
	}
}

.sprite__icon {
	display: inline-block;
	width: 75px;
    height: 68px;
	background-image: url(../img/icons.png);
	margin: 25px 89px;

	&--booking {
		background-position-y: -66px
	}

	&--ring {
		background-position-y: -132px
	}

	&--tracking {
		background-position-y: -199px;
    	height: 62px;
	}

	&--tag {
		background-position-y: -258px;
    	height: 74px;
	}

	&--apple {
		background-position-y: -334px;
    	height: 70px;
	}

	&--features {
		background-position-y: -603px;
    	height: 55px;
	}
}

.color-text {
	&--blue{
		color: $color-4;
	}
}

.text-info {
	font-family: 'Montserrat', sans-serif;
	color: $text-main;	

	&--align-left {
		text-align: left;
	}

	&--regular {
		font-weight: 400;
	}

	&--medium {
		font-weight: 500;
	}

	&--size-14 {
		font-size: 14px;
	}

	&--size-16 {
		font-size: 16px;
	}
}

.section {
	&__trusted {
		&--text {
			padding: 63px 0 0 27px;
		}

		&--img {
			float: right;
    		padding: 53px 50px;
		}
	}

	&__how-it-works {
		padding: 24px 0;

		img {
			float: right;
		}
	}
}

.article-from-tabs {
	&--right {
		float: right;
	}

	&--left {

	}
}