footer {
	padding: 52px 0 30px;
	background-color: $color-6;
	color: $color-5;
	font-size: 14px;

	h4 {
		text-transform: uppercase;
		color: $color-4;
		font-weight: 500;
		margin: 20px 0 35px 25px;

		@media (max-width: 768px){
			margin-bottom: 15px;
			margin-left: 0;
		}
	}

	a {
		color: $color-5;
	}

	p {
		color: $color-5;
		font-size: 14px;
	}

	.footer {
		&__list {
			margin-left: 25px;

			@media (max-width: 768px){
				margin: 0;
			}
		}

		&__item {
			margin-bottom: 16px;

			@media (max-width: 768px) {
				margin-bottom: 10px;
			}

			&:hover {
				a {
					text-decoration: underline;
				}
			}
		}

		&__leave-message {
			text-transform: uppercase;
			color: $color-1;
			font-size: 12px;
			float: right;
				
			span {
				width: 50px;
			}

			img {
				vertical-align: middle;
			}
		}
	}

	hr {
		background-color: $color-5;
		height: 2px;
	    border: 0;
	    margin-top: 48px;
    	margin-bottom: 39px;
	}

	p {
		@media (max-width: 1024px) {
			text-align: center;
		}
	}

	@media (max-width: 768px) {
		padding: 30px 0;
	}
}