$text-main: #000;
$text-white: #fff;

$color-1: #56d2ae;
$color-2: #f3fcf9;
$color-3: #dbf5ee;
$color-4: #37a6c1;
$color-5: #6b6b6b;
$color-6: #262626;

$circle-size: 152px;

$color-start: #7ca3cc;
$circle-number: 10;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-ipad: 1024px;
$screen-lg: 1200px;